<div class="fuselaje">
    <section class="status">
            <div class="card border-danger mb-3 panelControl" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-danger"><h4 class="text-danger">Panel de control</h4></div>
                    <div class="card-header bg-transparent border-danger"><h5 class="text-danger">Planetas</h5></div>
                    <div class="card-body text-secundary">
                    <div class="card-header bg-transparent border-danger"  *ngFor='let planetas of valplanetas'>
                      <h5 class="card-title">¡Planeta {{planetas.planeta}} avistado a {{planetas.degrees}}0000 grados!</h5>
                    </div>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                  </div>
    </section>
</div>
    <section class="rocket">
      <!-- <img src="/assets/spaceship.svg" alt="10px;"> -->
    </section>
    <div class="tresA">
        <img src="/assets/logo.png" alt="">
    </div>
      